<section>
<div class="container-fluid">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3810.3192298233184!2d80.15796931487445!3d17.251783988160007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3459ea2f85c907%3A0x725ef940f51960e!2sIT%20HUB%20KHAMMAM!5e0!3m2!1sen!2sin!4v1630051516076!5m2!1sen!2sin" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<div class="container">
<div class="card">
<div class="card-body">
<div class="row">
<div class="col-lg-3 col-md-6">
<h4 class="text-secondary">{{#str}} sendtext, local_customhomepage {{/str}}</h4>










</div>
</div>
</div>
</div>







</div>
</section>










