    {{>local_courses/courseheader}}

        <!-------tab------->
  <!-- INNER PAGE WRAPPER
      ============================================= --> 
      <div class="inner-page-wrapper">




        <!-- BREADCRUMB
        ============================================= -->
        <div id="breadcrumb" class="division">
          <div class="container">
            <div class="row">

              <!-- BREADCRUMB NAV -->
              <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="demo-1.html">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">About VRTUZ</li>
                    </ol>
                </nav>
              </div> 

            </div>   <!-- End row -->
          </div>  <!-- End container -->    
        </div>  <!-- END BREADCRUMB --> 




        <!-- ABOUT-2
        ============================================= -->
        <section id="about-2" class="wide-60 about-section division">
          <div class="container">
            <div class="row d-flex align-items-center">


              <!-- ABOUT IMAGE -->
              <div class="col-md-5 col-lg-6">
                <div class="img-block pc-25 mb-40">
                  <img class="img-fluid" src="images/image-01.png" alt="about-image">
                </div>
              </div>


              <!-- ABOUT TEXT -->
              <div class="col-md-7 col-lg-6">
                <div class="txt-block pc-25 mb-40">

                  <!-- Title -->  
                  <h3 class="h3-sm">Transform your life through online education</h3>

                  <!-- Text -->
                  <p>An enim nullam tempor sapien gravida donec porta and blandit ipsum enim justo integer velna vitae 
                    auctor integer congue magna and purus pretium risus ligula rutrum luctus ultrice 
                  </p> 

                  <!-- List --> 
                  <ul class="txt-list mb-15">

                    <li>Nullam rutrum eget nunc varius etiam mollis risus undo</li>
                            
                    <li>Integer congue magna at pretium purus pretium ligula at rutrum risus luctus dolor auctor 
                      ipsum blandit purus   
                    </li>

                    <li>Risus at congue etiam aliquam sapien egestas posuere</li>

                  </ul>

                  <!-- Button -->
                  <a href="#" class="btn btn-md btn-tra-grey rose-hover">Start Learning Now</a>

                </div>
              </div>    <!-- END ABOUT TEXT -->


            </div>    <!-- End row -->  
          </div>     <!-- End container -->   
        </section>  <!-- End ABOUT-2 --> 




        <!-- STATISTIC-1
        ============================================= -->
        <div id="statistic-1" class="bg-yellow statistic-section division" style="background: linear-gradient(to right, #2a86c5, #bf3cac);">
          <div class="container">
            <div class="row">


              <!-- STATISTIC BLOCK #1 -->
              <div class="col-md-4">            
                <div class="statistic-block"> 

                  <!-- Digits -->
                  <h5 class="statistic-number">2,<span class="count-element">769</span></h5>

                  <!-- Text -->
                  <div class="statistic-block-txt">
                    <h5 class="h5-lg">Online Courses</h5>               
                    <a href="#">Learn More &gt;</a>
                  </div>

                </div>            
              </div>


              <!-- STATISTIC BLOCK #2 -->
              <div class="col-md-4">            
                <div class="statistic-block"> 

                  <!-- Digits -->
                  <h5 class="statistic-number"><span class="count-element">637</span></h5>
                  
                  <!-- Text -->
                  <div class="statistic-block-txt">
                    <h5 class="h5-lg">Free Online Tutorials</h5>  
                    <a href="#">Discover More &gt;</a>  
                  </div>                                    
                            
                </div>                
              </div>


              <!-- STATISTIC BLOCK #3 -->
              <div class="col-md-4">            
                <div class="statistic-block"> 

                  <!-- Digits -->
                  <h5 class="statistic-number"><span class="count-element">942</span></h5>  

                  <!-- Text -->
                  <div class="statistic-block-txt">
                    <h5 class="h5-lg">eBooks Available</h5> 
                    <a href="#">Discover More &gt;</a>  
                  </div>                
                                      
                </div>              
              </div>


            </div> <!-- End row -->
          </div>   <!-- End container -->   
        </div>   <!-- END STATISTIC-1 -->

        <!-- VIDEO-1
        ============================================= -->
        <section id="video-1" class="bg-lightgrey bg-map video-ection division">
          <div class="container">
            <div class="video-1-holder">
              <div class="row d-flex align-items-center">


                <!-- VIDEO LINK --> 
                <div class="col-md-6">
                  <div class="video-link text-center">
                    
                    <!-- Change the link HERE!!! -->            
                    <div class="play-btn play-btn-rose text-center">

                      <a class="video-popup3 video-play-button" href="https://www.youtube.com/embed/0gv7OC9L2s8">
                        <span></span>
                      </a>

                      <!-- Preview Image -->
                      <img class="img-fluid" src="images/video-1-img.jpg" alt="video-preview">

                    </div>

                  </div>  
                </div>  <!-- END VIDEO LINK --> 


                <!-- VIDEO TEXT --> 
                <div class="col-md-6">
                  <div class="video-txt">

                    <!-- Title -->  
                    <h4 class="h4-xl">Take the first step to knowledge with <span>eTreeks</span></h4>

                    <!-- Text --> 
                    <p class="p-md">Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, 
                       felis lacinia risus
                    </p> 

                    <!-- Button --> 
                    <a href="" class="btn btn-tra-rose rose-hover">Find Out More</a>

                  </div>
                </div>  <!-- END VIDEO TEXT --> 


              </div>   <!-- End row -->
            </div>    <!-- End video-1-holder -->   
          </div>     <!-- End container -->
        </section>  <!-- END VIDEO-1 -->




<style type="text/css">
  h5,a{
    color: white;
  }

  .statistic-block-txt {
    overflow: hidden;
    padding-left: 25px;
    border-left: 1px solid #fff;
}
</style>









      </div>  <!-- END INNER PAGE WRAPPER -->



    <style type="text/css">
      input { 
        text-transform: uppercase;
    }

    #register-form p{
      margin-bottom: 3px;
    }
    </style>

    {{>local_courses/coursefooter}}


    <script type="text/javascript">
    $("#tutors_area").hide();
    // <![CDATA[
    jQuery(document).ready(function(){


    $('input:radio[name="role_type"]').change(function(){
        if($(this).val() == 'tutor'){
           $("#tutors_area").show();
        }
        else{
          $("#tutors_area").hide();
        }

    });

    });

    // ]]>
    </script>

    <script type="text/javascript">
                    function submitRegistrationForm() {
                        var valid;  
                        valid = validateRegistrationForm();
                        if(valid) {
                            jQuery.ajax({
                                url: "../courses/contactus11.php",
                                data:'contactName='+$("#s_name").val()+'&contactEmail='+
                                $("#s_email").val()+'&contactMessage='+
                                $("#s_message").val(),
                                type: "POST",
                                success:function(data){
                                    //alert(data);
                                    $("#mail-status").html(data);
                                    $('#contactform')[0].reset();
                                },
                                error:function (){}
                            });
                        }
                    }


                    function validateRegistrationForm() {
                        var valid = true;   
                        $(".cnt_info").css('border-color','');
                        $(".err-info").html('');

                         if(!$("#cnt_name_title").val()) {
                            //$("#contactName-info").html("(required)");
                            $("#cnt_name_title").css('border-color','red');
                            //$("#cnt_fname").attr("placeholder","First Name is required");
                             valid = false;
                        }
                        if(!$("#cnt_fname").val()) {
                            //$("#contactName-info").html("(required)");
                            $("#cnt_fname").css('border-color','red');
                            //$("#cnt_fname").attr("placeholder","First Name is required");
                             valid = false;
                        }


                        if(!$("#cnt_mname").val()) {
                            //$("#contactName-info").html("(required)");
                            $("#cnt_mname").css('border-color','red');
                            //$("#contactName-info").css('color','red');
                            valid = false;
                        }
                        if(!$("#cnt_lname").val()) {
                            //$("#contactName-info").html("(required)");
                            $("#cnt_lname").css('border-color','red');
                            //$("#contactName-info").css('color','red');
                            valid = false;
                        }
                        if(!$("#cnt_fathername").val()) {
                            //$("#contactName-info").html("(required)");
                            $("#cnt_fathername").css('border-color','red');
                            //$("#contactName-info").css('color','red');
                            valid = false;
                        }

                        if(!$("#cnt_phone").val()) {
                            //$("#contactName-info").html("(required)");
                            $("#cnt_phone").css('border-color','red');
                            //$("#contactName-info").css('color','red');
                            valid = false;
                        }

                         else if(!$("#cnt_phone").val().match(/^[0-9]{10}$/)) {
                             $("#err-phone").html("(This is not a valid Phone Number)");
                            $("#cnt_phone").css('border-color','red');
                            $("#err-phone").css('color','red');
                            valid = false;
                        }

                        if(!$("#cnt_email").val()) {
                            $("#cnt_email").css('border-color','red');
                            $("#err-email").css('color','red');
                            valid = false;
                        }
                        if(!$("#cnt_email").val().match(/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/)) {
                             $("#err-email").html("(This is not a valid email address.)");
                            $("#cnt_email").css('border-color','red');
                            $("#err-email").css('color','red');
                            valid = false;
                        }

                         if(!$("#cnt_cemail").val()) {
                            
                            $("#cnt_cemail").css('border-color','red');
                            $("#err-cemail").css('color','red');
                            valid = false;
                        }

                         if(!$("#cnt_cemail").val().match(/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/)) {
                            $("#err-cemail").html("(This is not a valid email address.)");
                            $("#cnt_cemail").css('border-color','red');
                            $("#err-cemail").css('color','red');
                            valid = false;
                        }

                        if($("#cnt_email").val()!=$("#cnt_cemail").val()){

                           $("#err-cemail").html("(Confirm email does not match.)");
                            $("#cnt_cemail").css('border-color','red');
                            $("#err-cemail").css('color','red');
                            valid = false;

                        }

                         if(!$("#cnt_city").val()) {
                            //$("#contactEmail-info").html("(required)");
                            $("#cnt_city").css('border-color','red');
                            //$("#contactEmail-info").css('color','red');
                            valid = false;
                        }

                          if(!$("#cnt_level_studies").val()) {
                            //$("#contactEmail-info").html("(required)");
                            $("#cnt_level_studies").css('border-color','red');
                            //$("#contactEmail-info").css('color','red');
                            valid = false;
                        }

                          if(!$("#cnt_name_institution").val()) {
                            //$("#contactEmail-info").html("(required)");
                            $("#cnt_name_institution").css('border-color','red');
                            //$("#contactEmail-info").css('color','red');
                            valid = false;
                        }

                          if(!$("#cnt_institution_location").val()) {
                            //$("#contactEmail-info").html("(required)");
                            $("#cnt_institution_location").css('border-color','red');
                            //$("#contactEmail-info").css('color','red');
                            valid = false;
                        }

                      if($('input[name="role_type"]:checked').val()=='tutor'){

                          if(!$("#cnt_upload_doc").val()) {
                            //$("#contactEmail-info").html("(required)");
                            $("#cnt_upload_doc").css('border-color','red');
                            //$("#contactEmail-info").css('color','red');
                            valid = false;
                        }

                        if(!$("#cnt_upload_video").val()) {
                            //$("#contactEmail-info").html("(required)");
                            $("#cnt_upload_video").css('border-color','red');
                            //$("#contactEmail-info").css('color','red');
                            valid = false;
                        }


                      }

                        return valid;
                    }

                    $(document).ready(function() {

});
$('.counter').each(function () {
$(this).prop('Counter',0).animate({
Counter: $(this).text()
}, {
duration: 2000,
easing: 'swing',
step: function (now) {
$(this).text(Math.ceil(now));
}
});
});
</script>
<style>
.card_text{
    text-align:center;
    font-size: 30px;
    font-weight: 600;
    padding: 13px;
}
.card_img{
  width: 50%;
 margin-left: 25%;
  padding-bottom: 11px; 
     margin-top: -40px;
}
.counter-box {
    display: flex;
    text-align: center;
    margin-bottom: 10px;
}
.circle_fa {
    border-radius: 50%;
    border: 1px solid gray;
    margin-left: 9%;
    margin-right: 11%;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: -23px;
}
.cir_fa {
   display:flex;
}



@media only screen and (max-width:540px) {
.counter-box {
    margin-right: 5%;
    margin-left: 10%;
}

.circle_fa {
    margin-left: 7px;
    margin-right: 11px;
}
}


</style>
<style>


    section.sec_tab {
        padding: 60px 3px;
    }

    .n_tab ul.nav-tabs{
    border: none;

    }
    .n_tab ul.nav-tabs {
        border: none;
        display: inline-flex;
    }

    .n_tab.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #fff!important;
        background-color: #2a2356;
        border-color: #2a2356 #2a2356 #2a2356;
    }


    .n_tab .nav-tabs .nav-link {
        border: 1px solid #2a2356;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: #2a2356;
        border-radius: none!important;
        margin-right: 21px;
            padding: 7px 30px;
    }

   

    .sbox-5.bt_t{
          height: auto;
        width: 100%;
            margin: auto;
            padding: 44px;
    }
    .three_btn.text-center {
        /* width: 150px; */
        padding: 24px 0 47px 0;
    }




    a.t_hree_btn{
          padding: 8px 60px;
        background-color: #2a2356;
        border-radius: 3px;
        /* border: 1px solid #2a2356; */
        font-weight: bold;
           color: #fff!important;
            margin-right: 12px;
    }

    a.t_hree_btn:hover{
            background-color: #fff;
            border: 1px solid #2a2356;
            color:#2a2356!important;
    }


    .bt_t {
        margin-top: 34px;
    }
    .t_left_img{
       margin-bottom: 70px;
    }



.lessons .list-group-item {
    margin-bottom: 66px!important;
}


    .t_box10.icon-sm{
        margin-top: 43px;
          padding-left: 10px;
        margin-bottom: 30px;
        height: 233px;
        box-shadow: 0px 0px 1px 0px #423c86;
        padding: 5%;
        background-image: url(https://www.vrtuz.com/pluginfile.php/1/theme_moove/sliderimage2/1598854110/slide-2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
    }
    .t_box-4-txt {
        text-align: center;
        /* color: #fff; */
    }
    h5.t_box_h {
        color: #fff;
        font-size: 36px;
        font-weight: 700;
    }
    .t_box-4-txt p {
        font-size: 18px;
        color: #fff;
    }

    h5.box_h5 {
        font-size: 36px;
        color: #fff;
        padding: 32px 0 11px;
    }

    .t_left_img img{
      width: 100%;
    }

    ul{}
    ul.box_ul li {
        list-style: none;
        width: 14%;
        float: left;
        display: inline;
    }
    .ic_n_img img {
        width: 61%;
    }
    .main_icon {
            text-align: center;
        margin-right: 10px;
        border: 1px solid#eee;
        padding: 8px;
        background-color: #fff;
            height: 148px;
    }
    .ic_n_text p {
        margin-bottom: 0;
        margin-top: 10px;
    }

    .clear{
      clear: both;
    }

    .icon_box {
        margin-top: 50px;
       padding: 32px 1px 32px 29px;
        border: 1px solid #eee;
        background-color: #2a2356;
        text-align: center;
       
    }
    .top {
        height: 83px;
        width: 100%;
    }

.coverbox{

           padding: 40px;
    box-shadow: 0 0 3px 1px #2a23563d;
}
.ri_ght p {
    font-size: 18px;
}
.lef_t p {
    font-size: 18px;
}

a.join_for {
    background-color: #2a2356;
    padding: 5px 17px;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
}

.ic_n_img i {
    font-size: 46px;
    padding: 12px 9px;
    border-radius: 50px;
    background-color: #2a2356;
    width: 70px;
    height: 70px;
    color: #fff;
}

.main_icon:hover .ic_n_img i{
        color: #45fe45;
    background-color: #fff;
    border: 1px solid#2a2356;
}



.multy_user.text-center a {
    color: #fff!important;
    font-size: 24px;
    border: 1px solid #eee;
    padding: 3px 23px;
}

.multy_user.text-center {
    margin-top: 33px;
}
.multy_user.text-center a:hover{
    background-color: #fff;
    color:#000!important;


}
.icon_box p.text-white b {
    font-size: 18px;
     font-weight: 600;
}

p.POWERFUL.text-center {
      margin: 45px 0;
}

p.POWERFUL.text-center strong {
    font-size: 22px;
    font-weight: 600;
    /* margin-top: 35px; */
}

.sbox-5{
            border: 1px solid #e2e2e200!important;
}
.heading.text-center h2 {
    width: 69%;
    margin: auto;
}







@media screen and (max-width: 1024px) {
    .sbox-5.bt_t {
    margin-bottom: 35px;padding: 22px;
}

.sbox-5 h5 {
    margin-top: 0;
}

}




@media screen and (max-width: 768px) {
.sbox-5.bt_t{
        margin-bottom: 44px;
            margin-top:0;
            padding: 12px;
    text-align: left;
}

ul.box_ul li{
    width: 24%;    margin-top: 16px;
}

a.join_for{
    padding: 5px 7px;
    font-size: 14px;
}
a.t_hree_btn {
    padding: 8px 28px;
    }
    .footer-info a img {
    width: 252px!important;
    margin: auto;
    height: 85px;
}
.main_icon{
    adding: 17px 0 0 8px;


}

}

@media screen and (max-width: 480px) {
   


   .n_tab .nav-tabs .nav-link{
   margin-right: 4px;
    padding: 7px 10px;
}
.heading h2{
    
    font-size: 18px;

}

h5.box_h5 {
    font-size: 26px;
    }

.icon_box{
padding: 32px 1px 32px 10px;
}
.multy_user.text-center a{
    font-size: 20px;
    padding: 3px 14px;
}


p.h_text {
    padding: 0;
    }

a.t_hree_btn{   
 padding: 8px 5px;
margin-right: 1px;
    font-size: 12px;
}
.sbox-5.bt_t, .t_left_img{
    margin: 16px 1px;
}
a.join_for{
    font-size: 18

}
ul.box_ul li{
    width: 100%;    margin-bottom: 6px;

}
.main_icon{
    adding: 17px 0 0 8px;


}
}



@media screen and (max-width: 320px){
a.t_hree_btn {
    padding: 8px 5px;
    margin-right: 0px;
    
}

.main_icon{
    adding: 17px 0 0 8px;
}
a.join_for {
    font-size: 14px;
}
.coverbox {
   
    padding: 14px;
    }


}

 </style>
