            {{>local_courses/courseheader}}
            {{ # iscategory }}    
            {{>local_courses/maincategorypage}}
            {{ / iscategory }}
            {{>local_courses/coursefooter}}