<style>
    .set-new-password {
        min-height: 80vh;
    }

    .set-new-password-2 {
        height: 100%;
    }

    .set-password-txt {
        font-weight: 500;
        font-size: 32px !important;
    }

    .set-new-password .form-group {
        background: #FFFFFF;
        border: 1px solid #9F9F9F;
        border-radius: 2px;
        width: 100%;
    }


    .set-new-password .form-control {
        border: none !important;
        background: none !important;
        padding: 25px 20px !important;
    }

    .set-new-password form {
        width: 100%;
    }

    .set-new-password .btn-primary:hover {
        color: #FFFFFF !important;
    }
</style>

<div class="row justify-content-center set-new-password">
    <div class="col-12 col-lg-3 col-md-6 ">
        <div class="d-flex align-items-center justify-content-center flex-column set-new-password-2">
            <h1 class="set-password-txt mb-5 pb-5">Set New Password</h1>
            <div class="error-msg" style="display: none"></div>

            <form class="forgot_password_form" method="post" id="forgot_password_form" action="">
                <div class="form-group mb-3 d-flex align-items-center px-2">
                    <input type="password" class="form-control forgot-form-show" id="" name="password"
                        placeholder="New Password" required="true">
                    <img src="{{{ config.wwwroot }}}/theme/elearnified/templates/assest/eye-hidden.png" alt=""
                        width="25px" class="forget-password-types" style="cursor: pointer;" />
                </div>
                <div class="form-group mb-3 d-flex align-items-center px-2">
                    <input type="password" class="form-control forgot-form-show" id="" name="cpassword"
                        placeholder="New Password" required="true">
                    <img src="{{{ config.wwwroot }}}/theme/elearnified/templates/assest/eye-hidden.png" alt=""
                        class="forget-password-types" width="25px" style="cursor: pointer;" />
                </div>
                <div class="pt-5 text-center">
                    <input type="hidden" value="formdata" name="forget_submit" >
                    <input type="text" value="Continue" name="forget_submit2" class="btn btn-primary btn-block">
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.forgot_password_form').on('click', '.forget-password-types', function () {
            let el_type = $(this).prev().attr('type');
            if (el_type == "password") {
                $(this).prev().attr('type', 'text');
                $(this).attr('src', '{{{ config.wwwroot }}}/theme/elearnified/templates/assest/eye.png');
            } else {
                $(this).prev().attr('type', 'password');
                $(this).attr('src', '{{{ config.wwwroot }}}/theme/elearnified/templates/assest/eye-hidden.png');
            }
        })
        //submit form
        $('.forgot_password_form').on('click', '[name="forget_submit2"]', function (e) {
            e.preventDefault();
            let $form = $('form#forgot_password_form');
            let pass = $(this).closest('#forgot_password_form').find('[name="password"]').val();
            let cpass = $(this).closest('#forgot_password_form').find('[name="cpassword"]').val();
            if (pass != "" && cpass != "") {
                $(this).prop('disabled', true);
                $(this).css('opacity', 0.5);
                if ($.trim(pass) != $.trim(cpass)) {
                    $(this).prop('disabled', false);
                    $(this).css('opacity', 1);
                    $('.set-new-password .error-msg').html('<span style="color:red">Please Enter same value</span>').fadeIn();
                    setTimeout(function () {
                        $('.set-new-password .error-msg').fadeOut();
                    }, 3000);

                } else {
                    $(this).closest('#forgot_password_form').find('[name]').removeClass('required-error');
                    //$(this).prop('disabled', false);
                    $form.submit();
                }
            } else {
                $('.set-new-password .error-msg').html('<span style="color:red">Please Enter required fields</span>').fadeIn();
                setTimeout(function () {
                    $('.set-new-password .error-msg').fadeOut();
                }, 3000);
            }



        });
    });
</script>