
{{{ output_header }}}
<div>
    <div>
        {{{ output_blockregion_content }}}
    </div>
	<div class='grid-container row'>
	    <div class='col-4 d-none d-lg-block'>
	        {{> local_ecommerce/leftbar }}
	    </div>

	    <!-- Right-side -->
	    <div class='col-12 col-lg-8'>
	        <div>
	            <div class='product-heading-md-wrap'>
	                <div class='left-side-color d-block d-lg-none'></div>
	                <div class='product-heading-text d-block d-lg-none'>
	                    <span>Product title</span>
	                </div>
	            </div>
	            <div>
	                <div class='d-flex align-items-center justify-content-end'>
	                    <div>
	                        <span class='sort-list-static d-none d-lg-block'>Sort by:</span>
	                    </div>
	                    <div>
	                        <!-- <span class='right-sidebar-bold'>Filters</span>
	                    <span><i class="fa-solid fa-angle-down ml-2"></i></span> -->
	                        <select class='select-options d-none d-lg-block'>
	                            <option value='Most Popular'>Most Popular</option>
	                            <option value='Letus Designs'>Letus Popular</option>
	                        </select>
	                    </div>
	                </div>

	                <div class='row m-lg-1 left-grid'>
	                    <!-- Start Card -->
	                    <div class='col-6 col-lg-4 p-12 mt-2'>
							{{> local_ecommerce/product_thumb }}
	                    </div>
	                    <!-- End Card -->
	                    <!-- Start Card -->
	                    <div class='col-6 col-lg-4 p-12 mt-2'>
							{{> local_ecommerce/product_thumb }}
	                    </div>
	                    <!-- End Card -->
	                    <!-- Start Card -->
	                    <div class='col-6 col-lg-4 p-12 mt-2'>
							{{> local_ecommerce/product_thumb }}
	                    </div>
	                    <!-- End Card -->
	                    <!-- Start Card -->
	                    <div class='col-6 col-lg-4 p-12 mt-2'>
							{{> local_ecommerce/product_thumb }}
	                    </div>
	                    <!-- End Card -->
	                    <!-- Start Card -->
	                    <div class='col-6 col-lg-4 p-12 mt-2'>
							{{> local_ecommerce/product_thumb }}
	                    </div>
	                    <!-- End Card -->
	                    <!-- Start Card -->
	                    <div class='col-6 col-lg-4 p-12 mt-2'>
							{{> local_ecommerce/product_thumb }}
	                    </div>
	                    <!-- End Card -->
	                    <!-- Start Card -->
	                    <div class='col-6 col-lg-4 p-12 mt-2'>
							{{> local_ecommerce/product_thumb }}
	                    </div>
	                    <!-- End Card -->
	                    <!-- Start Card -->
	                    <div class='col-6 col-lg-4 p-12 mt-2'>
							{{> local_ecommerce/product_thumb }}
	                    </div>
	                    <!-- End Card -->
	                    <!-- Start Card -->
	                    <div class='col-6 col-lg-4 p-12 mt-2'>
							{{> local_ecommerce/product_thumb }}
	                    </div>
	                    <!-- End Card -->
	                    <!-- Start Card -->
	                    <div class='col-6 col-lg-4 p-12 mt-2'>
							{{> local_ecommerce/product_thumb }}
	                    </div>
	                    <!-- End Card -->
	                    <!-- Start Card -->
	                    <div class='col-6 col-lg-4 p-12 mt-2'>
							{{> local_ecommerce/product_thumb }}
	                    </div>
	                    <!-- End Card -->
	                    <!-- Start Card -->
	                    <div class='col-6 col-lg-4 p-12 mt-2'>
							{{> local_ecommerce/product_thumb }}
	                    </div>
	                    <!-- End Card -->
	                    <!-- Start Card -->
	                    <div class='col-6 col-lg-4 p-12 mt-2'>
							{{> local_ecommerce/product_thumb }}
	                    </div>
	                    <!-- End Card -->
	                </div>


	            </div>
	        </div>
	    </div>


	    <!-- End Right Sie -->

	</div>

    <!--Start Modal -->

    <div class="modal fade" id="product-details-modal" tabindex="-1" role="dialog"
        aria-labelledby="product-details-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            {{> local_ecommerce/popdetail }}
                                    
        </div>
    </div>																																																																																																																					
    <!-- End Modal -->

    

</div>
{{{ output_footer }}}
