<div class="eventstatus modal"  tabindex="-1" role="dialog" aria-labelledby="eventstatus" aria-hidden="true">
	<div class="modal-dialog-box" role="document">
		<div class="modal-content p-0">
			<div class="modal-top text-right">
                	<button type="button" data-dismiss="modal" aria-label="Close"	>
                		<span aria-hidden="true" class='mr-1'>&times;</span>
                  		<span>Close</span>
                	</button>
            </div>  
             <div class="modal-body active-popup">
             	<div class="row justify-content-center">
             		<div class="col-12 col-lg-6">
					{{! Start Sucuss }}
             			{{! <div class="sucuss-popup">
             				<div class="sucuss-ellipse">
             					<i class="fa fa-check" aria-hidden="true"></i>
             				</div>
             				<div class="sucuss-text">Successful</div>
             				<div class="middle-text">you will have 20% off</div>
             				<div class="last-text">Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum.</div>
             				<div class="text-center"><button type="button" data-dismiss="modal" aria-label="Close">okay</button></div>	
             			</div> }}
					{{! End Sucuss }}
					{{! Start invaild }}
             			{{! <div class="danger-popup">
             				<div class="danger-ellipse">
             					<i class="fa fa-times" aria-hidden="true"></i>
             				</div>
             				<div class="danger-text">Invalid Promo Code</div>
             				<div class="last-text">Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum.</div>
             				<div class="text-center"><button type="button" data-dismiss="modal" aria-label="Close">okay</button></div>	
             			</div> }}
					{{! End invaild }}
					{{! Start Expired Promo Code }}

					             {{! <div class="danger-popup">
             					<div class="danger-ellipse">
									<i class="fa fa-minus" aria-hidden="true"></i>
             					</div>
             					<div class="danger-text">Expired Promo Code</div>
             					<div class="last-text">Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum.</div>
             					<div class="text-center"><button type="button" data-dismiss="modal" aria-label="Close">okay</button></div>	
             				</div> }}
 
						{{! End Expired Promo Code }}


						{{! Start Deactivate Promo }}

							{{! <div class='deactivate-promo'>
								<div class='heading'>You’re About to Deactivate Promo</div>
								<div class='peragraph'>Add Atleast 4 image Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									At venenatis mi eu id vitae fermentum, lacus, malesuada ultricies.Lorem ipsum dolor sit amet, 
									consectetur adipiscing elit. At venenatis mi eu id vitae fermentum, lacus, malesuada 
									ultricies.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
									<div class='text-center'>
										<button type='button' class='primary-btn'>yes</button>
										<button type='button' class='secondary-btn' data-dismiss="modal" aria-label="Close">no</button>
									</div>
							</div> }}

						{{! End Deactivate Promo }}

             		</div>
             	</div>
			</div>
		</div>
	</div>
</div>





