<div class="modal-content">
                <div class="product-modal-header d-flex justify-content-end">
                    <button type="button" class="product-close-button" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true" class='mr-2'>&times;</span>
                        <span>Close</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class='row'>
                        <div class='col-12 col-lg-2'>
                            <div class='product-vertical-divider product-items-center'>
                                <div class='modal-product-options-img'>
                                    <img src='/elearnified/local/assests/images/Product-Modal-Image/01.png'
                                        alt='' />
                                </div>
                                <div class='modal-product-options-img'>
                                    <img src='/elearnified/local/assests/images/Product-Modal-Image/02.png'
                                        alt='' />
                                </div>
                                <div class='modal-product-options-img'>
                                    <img src='/elearnified/local/assests/images/Product-Modal-Image/03.png'
                                        alt='' />
                                </div>
                                <div class='modal-product-options-img'>
                                    <img src='/elearnified/local/assests/images/Product-Modal-Image/04.png'
                                        alt='' />
                                </div>
                                <div class='modal-product-options-img'>
                                    <img src='/elearnified/local/assests/images/Product-Modal-Image/05.png'
                                        alt='' />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-7">
                            <div class='product-items-center h-100'>
                                <img src='/elearnified/local/assests/images/Product-Modal-Image/06.png'
                                    alt='' class='product-items-bigger-img' />
                            </div>
                        </div>

                        <div class='col-12 col-lg-3'>
                            <div>
                                <div class='product-items-prize-wrap'>
                                    <span class='product-items-prize-discount'>$115.99</span>
                                    <span class='product-items-prize-sale'>$85.99</span>
                                </div>
                            </div>
                            <div>
                                <a href='javascript:void(0);'>
                                    <div class='product-items-added-cart product-items-buttons'>
                                        Added to cart
                                    </div>
                                </a>
                            </div>

                            <div>
                                <a href='javascript:void(0);'>
                                    <div
                                        class='product-items-payment-proceed product-items-buttons'>
                                        Proceed to payment
                                    </div>
                                </a>
                            </div>

                            <div class='product-items-description'>
                                Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam
                                no suscipit quaerendum. At nam minimum ponderum.
                                Est audiam animal molestiae te. Ex duo eripuit mentitum.Et has minim
                                elitr intellegat.
                                Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum. At nam
                                minimum ponderum.
                                Est audiam animal molestiae te. Ex duo eripuit mentitum.
                            </div>

                            <div class='product-items-discount-offer-wrap'>
                                <div class='product-items-discount-coupon'>
                                    <div class='product-items-discount-text'>
                                        <span>
                                            FLAT50%OFF
                                        </span>
                                    </div>
                                    <div class='product-items-coupon-apply'>
                                        <a href='javascript:void(0);'>
                                            Apply
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class='product-items-section-divider'></div>

                            <div class='product-items-reviews-text'>Reviews</div>
                            <div>
                                <div class='row align-items-center'>
                                    <div class='col-4'>
                                        <div class='product-items-rating-text'>
                                            4.8
                                        </div>
                                        <div class='product-items-rating-stars'>
                                            <img src='/elearnified/local/assests/Icons/review-star.png'
                                                alt='' />
                                            <img src='/elearnified/local/assests/Icons/review-star.png'
                                                alt='' />
                                            <img src='/elearnified/local/assests/Icons/review-star.png'
                                                alt='' />
                                            <img src='/elearnified/local/assests/Icons/review-star.png'
                                                alt='' />
                                            <img src='/elearnified/local/assests/Icons/helf-star.png'
                                                alt='' />
                                        </div>
                                        <div class='product-items-total-reviews'>40 reviews</div>
                                    </div>
                                    <div class='col-8'>
                                        <div>
                                            <div class='product-itemns-rating-progress-wrap'>
                                                <div class='product-items-progress-text'>5</div>
                                                <div class='product-items-progress-star'>
                                                    <img src='/elearnified/local/assests/Icons/review-star.png'
                                                        alt=' '
                                                        class='product-items-progress-star' />
                                                </div>
                                                <div class='product-items-progress-bar'>
                                                    <div class='product-items-progress-upper'>
                                                        <div
                                                            class='product-items-reviews-progress-inner'>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='product-items-progress-text'>5</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class='product-itemns-rating-progress-wrap'>
                                                <div class='product-items-progress-text'>2</div>
                                                <div class='product-items-progress-star'>
                                                    <img src='/elearnified/local/assests/Icons/review-star.png'
                                                        alt=' '
                                                        class='product-items-progress-star' />
                                                </div>
                                                <div class='product-items-progress-bar'>
                                                    <div class='product-items-progress-upper'>
                                                        <div
                                                            class='product-items-reviews-progress-inner'>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='product-items-progress-text'>4</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class='product-itemns-rating-progress-wrap'>
                                                <div class='product-items-progress-text'>3</div>
                                                <div class='product-items-progress-star'>
                                                    <img src='/elearnified/local/assests/Icons/review-star.png'
                                                        alt=' '
                                                        class='product-items-progress-star' />
                                                </div>
                                                <div class='product-items-progress-bar'>
                                                    <div class='product-items-progress-upper'>
                                                        <div
                                                            class='product-items-reviews-progress-inner'>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='product-items-progress-text'>2</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class='product-itemns-rating-progress-wrap'>
                                                <div class='product-items-progress-text'>4</div>
                                                <div class='product-items-progress-star'>
                                                    <img src='/elearnified/local/assests/Icons/review-star.png'
                                                        alt=' '
                                                        class='product-items-progress-star' />
                                                </div>
                                                <div class='product-items-progress-bar'>
                                                    <div class='product-items-progress-upper'>
                                                        <div
                                                            class='product-items-reviews-progress-inner'>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='product-items-progress-text'>3</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class='product-itemns-rating-progress-wrap'>
                                                <div class='product-items-progress-text'>1</div>
                                                <div class='product-items-progress-star'>
                                                    <img src='/elearnified/local/assests/Icons/review-star.png'
                                                        alt=' '
                                                        class='product-items-progress-star' />
                                                </div>
                                                <div class='product-items-progress-bar'>
                                                    <div class='product-items-progress-upper'>
                                                        <div
                                                            class='product-items-reviews-progress-inner'>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='product-items-progress-text'>1</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                </div>