	                        <div class='product-card-parent'>
	                            <div class='product-card-wrap'>
	                                <div class='pb-25'>
	                                    <div class='flex-between'>
	                                        <div class='card-top-text'>
	                                            <span> POPULAR1</span>
	                                        </div>
	                                        <div class='card-top-stars'>
	                                            <div>
	                                                <img src='{{#str}} pluginurl, local_ecommerce {{/str}}/assests/Icons/Star.png' alt='' />
	                                                <img src='{{#str}} pluginurl, local_ecommerce {{/str}}/assests/Icons/Star.png' alt='' />
	                                                <img src='{{#str}} pluginurl, local_ecommerce {{/str}}/assests/Icons/Star.png' alt='' />
	                                                <img src='{{#str}} pluginurl, local_ecommerce {{/str}}/assests/Icons/Star.png' alt='' />
	                                                <img src='{{#str}} pluginurl, local_ecommerce {{/str}}/assests/Icons/Star.png' alt='' />
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class='card-product-img-wrap'>
	                                    <div class='product-img'>
	                                        <img src='{{#str}} pluginurl, local_ecommerce {{/str}}/assests/images/Products-image/01.png' alt='' />
	                                    </div>
	                                    <div class='img-background-reactangle'></div>
	                                </div>

	                                <div class='product-heading-wrap'>
	                                    <div class='left-side-color'></div>
	                                    <div class='product-heading-text'>
	                                        <span>Product title</span>
	                                    </div>
	                                </div>
	                                <div>
	                                    <div class='product-pera-text'>
	                                        <span>Lorem ipsum dolor sit amet, consectetur</span>
	                                    </div>
	                                </div>
	                                <div>
	                                    <div class='product-price'>
	                                        <span>$65</span>
	                                    </div>
	                                </div>
	                                <div class='card-bottom'>
	                                    <img src='{{#str}} pluginurl, local_ecommerce {{/str}}/assests/images/Products-image/bottom-red.png' alt='' />
	                                </div>
	                            </div>

	                            <div class='overlay-product-card-wrap'>
	                                <div class='product-card-overlay'>
	                                    <div class='overlay-card-top-text flex-justify-end'>
	                                        <a href='javascript:void(0);' class='view-details' data-toggle="modal"
	                                            data-target="#product-details-modal">View Details</a>
	                                    </div>
	                                    <div class='overlay-product-heading-wrap'>
	                                        <div class='left-side-color'></div>
	                                        <div class='product-heading-text'>
	                                            <span>Product title</span>
	                                        </div>
	                                    </div>
	                                    <div>
	                                        <div class='overlay-product-pera-text'>
	                                            <span>Lorem ipsum dolor sit amet, consectetur</span>
	                                        </div>
	                                    </div>
	                                    <div class='overlay-product-price'>
	                                        <span>$65</span>
	                                    </div>

	                                    <div class='overlay-add-cart'>
	                                        <a href='javascript:void(0);' class='overlay-add-cart-link'>
												<img src='{{#str}} pluginurl, local_ecommerce {{/str}}/assests/images/Products-image/add-cart.png'
												alt='' />
	                                            <span>add ton cart</span>
	                                        </a>
	                                    </div>

	                                    <div class='overlay-buy-now'>
	                                        <span>buy now</span>
	                                    </div>
	                                </div>
	                            </div>
							</div>
