{{{style}}}
<div class="container">
<div class="row">
      <div class="cardcustom">
        <div class="card1">
        <a href="#">
          <div class="card-content">
            <div class="card-body">
            <a href="#">
              <div class="media d-flex">
                <div class="media-body">
                  <h3 class="danger">{{allcount}} </h3>
                  <p class="text1">Total Page</p>
                  <p class="text2">{{workpending}} Pending</p>
                </div>
                
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class=" cardcustom ">
        <div class="card2">
          <div class="card-content">
            <div class="card-body">
            <a href="#">
              <div class="media d-flex">
                <div class="media-body">
                  <h3 class="success">{{first}}</h3>
                  <p class="text1">First Categories</p>
                  <p class="text2">{{percent_firstdata}} Pending</p>
                </div>
                
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="cardcustom">
        <div class="card3">
          <div class="card-content">
            <div class="card-body">
            <a href="#">
              <div class="media d-flex">
                <div class="media-body">
                  <h3 class="warning">{{second}}</h3>
                  <p class="text1">Second Categories</p>
                  <p class="text2">{{percent_seo_seconddata}} Pending</p>
                </div>
                <div class="align-self-center">
                  <i class="icon-pie-chart warning font-large-2 float-rightt"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cardcustom">
        <div class="card4">
          <div class="card-content">
            <div class="card-body">
            <a href="#">
              <div class=" d-flex">
                <div class="media-body">
                  <h3 class="primary">{{thirddata}}</h3>
                  <p class="text1">Exam Page</p>
                  <p class="text2">{{percent_seo_thirddata}} Pending</p>
                </div>
                <div class="align-self-center">
                  <i class="icon-pie-chart warning font-large-2 float-right"></i>
                </div>
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    